$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;

$color-black1: rgba(0, 0, 0, .3);
$color-black2: rgba(0, 0, 0, .5);
$color-black3: rgba(0, 0, 0, 1);
$color-gray1: gray;
$color-gray2: rgba(gray, .4);
$color-green1: rgba(#03c75a, .2);
$color-green2: rgba(#03c75a, .4);
$color-green3: rgba(#03c75a, .6);
$color-green4: rgba(#03c75a, 1);
$color-green5: rgba(green, .4);
$color-orange: rgba(orange, .4);
$color-purple: rgba(purple, .4);
$color-royalblue: rgba(royalblue, .4);
$color-white: #fff;